<?xml version="1.0"?>
<robot name="single_arm" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find single_arm_description)/urdf/single_arm.xacro" />
  <xacro:include filename="$(find single_arm_description)/urdf/single_arm.ros2_control.xacro" />
  
  <link name="world"/>

  <!-- <xacro:single_arm parent="world" side="" child="" toolrot="-1.57">
    <origin xyz="0 0 0.1" rpy="0 0 0" />
  </xacro:single_arm> -->

  <!-- <link name="r_tool_link"/> -->

  <link name="tool_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>

  <xacro:single_arm side=""  parent="world" child="tool_link" toolrot="-1.57">
    <origin xyz="0 0 0.1" rpy="0 0 0" />
  </xacro:single_arm>

  <xacro:single_arm_ros2_control name="single_arm_ros2_control" side=""/>
</robot>
