<?xml version="1.0"?>
<robot name="mobile_dual_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find mir_description)/urdf/include/mir_100_v1.urdf.xacro"/>
  <!--<xacro:include filename="$(find mir_description)/urdf/include/common.gazebo.xacro" />-->
  <!-- <xacro:include filename="$(find mir_description)/urdf/mir.urdf.xacro"/> -->

  <xacro:include filename="$(find single_arm_description)/urdf/single_arm.xacro" />
  <xacro:include filename="$(find timda_body)/urdf/timda_body.xacro" />
  <!-- <xacro:include filename="$(find slide_rail)/urdf/slide_rail.xacro" /> -->
  <xacro:include filename="$(find suction_urdf)/urdf/suction_urdf.xacro" />
  <!-- <xacro:include filename="$(find single_arm_description)/urdf/materials.xacro" /> -->
  <!-- <xacro:include filename="$(find mobile_dual_arm_description)/urdf/mobile_dual_arm.gazebo" /> -->
  <!--xacro:include filename="$(find mobile_table)/urdf/mobile_table.xacro" /-->
  <xacro:include filename="$(find single_arm_description)/urdf/single_arm.ros2_control.xacro" />
  <xacro:include filename="$(find mir_description)/urdf/mir.ros2_control.xacro" />
  <xacro:include filename="$(find timda_body)/urdf/timda_body.ros2_control.xacro" />
  <xacro:include filename="$(find suction_urdf)/urdf/suction.ros2_control.xacro" />


  <link name="world"/>
  
    <!-- <link name="world"/>
    <joint name="fixed1" type="fixed">
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <parent link="world"/>
      <child link="base_footprint"/>
    </joint>

    <joint name="fixed2" type="fixed">
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <parent link="base_footprint"/>
      <child link="mobile_base_footprint"/>
    </joint> -->

  <joint name="fixed1" type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent link="world"/>
    <child link="mobile_base_footprint"/>
  </joint>
  <joint name="fixed3" type="fixed">
    <origin
      xyz="0.037646 0.0 0.355"
      rpy="0 0 0" />
    <!--0.037646-->
    <!--<origin
      xyz="0 0 0.562"
      rpy="0 0 0" /-->
    <parent link="mobile_base_footprint"/>
    <child link="base_link"/>
  </joint>

  <xacro:mir_100 prefix="mobile_" ns=""/>
  
  <xacro:single_arm side="r_"  parent="slide_right" child="r_tool_link" toolrot="-1.57">
    <origin xyz="0.0 0.1151 0.0" rpy="1.57 3.1415926 3.1415926" />
  </xacro:single_arm>


  <xacro:suction side="r"  parent="r_tool_link">
    <origin xyz="0 -0.016 0" rpy="0 0 -1.57" />
  </xacro:suction>

  <xacro:single_arm side="l_"  parent="slide_left" child="l_tool_link" toolrot="1.57">
    <origin xyz="0.0 0.1151 0.0" rpy="-1.57 0 0" />
  </xacro:single_arm>

  
  <xacro:suction side="l"  parent="l_tool_link">
    <origin xyz="0 0.016 0" rpy="0 0 1.57" />
  </xacro:suction>


  <!--joint name="fixed" type="fixed">
    <origin
      xyz="0 0.016 0"
      rpy="-1.57 1.57 0" />
    <parent link="Arm_Base_L_Link"/>
    <child link="Base"/>
  </joint-->

  <!--<joint name="fixed1" type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent link="mobile_base"/>
    <child link="base_link"/>
  </joint>-->

  <!--joint name="fixed2" type="fixed">
    <origin
      xyz="0 -0.016 0"
      rpy="1.57 1.57 0" />
    <parent link="Arm_Base_R_Link"/>
    <child link="Arm_Base_R"/>
  </joint-->

  <link name="Bin">
    <inertial>
      <origin
      	xyz="0 0 0"
      	rpy="0 0 0" />
      <mass
      	value="0.823603974032196" />
      <inertia
      	ixx="1"
      	ixy="0"
      	ixz="0"
      	iyy="1"
      	iyz="0"
      	izz="1" />
    </inertial>
    <visual>
      <origin
      	xyz="0 0 0"
      	rpy="0 0 0" />
      <geometry>
	    <mesh
        scale="0.001 0.001 0.001"
	      filename="package://mobile_dual_arm_description/scene/meshes/bin.STL" />
      </geometry>
      <material
      	name="blue_">
       	<color
       	  rgba="0.4 0.66 0.99 1" />
      </material>
    </visual>
    <collision>
      <origin
	      xyz="0 0 0"
      	rpy="0 0 0" />
      <geometry>
      	<mesh
          scale="0.001 0.001 0.001"
	        filename="package://mobile_dual_arm_description/scene/meshes/bin.STL" />
      </geometry>
    </collision>
  </link> 

   <joint name="fixed4" type="fixed">
    <origin
      xyz="0.35 -0.31 0.26"
      rpy="0 0 1.5708" />
    <parent link="base_link"/>
    <child link="Bin"/>
  </joint>

  <xacro:arg name="use_fake_hardware" default="true" />

  <xacro:arg name="right_arm_port" default="/dev/wrs/arm_right" />

  <xacro:arg name="left_arm_port" default="/dev/wrs/arm_left" />

  <xacro:single_arm_ros2_control name = "right_single_arm_ros2_control" side = "r_" use_fake_hardware = "$(arg use_fake_hardware)" usb_port = "$(arg right_arm_port)"/>

  <xacro:single_arm_ros2_control name = "left_single_arm_ros2_control" side = "l_" use_fake_hardware = "$(arg use_fake_hardware)" usb_port = "$(arg left_arm_port)"/>
  
  <xacro:mir_100_ros2_control prefix = "mobile_" name ="mir_100_ros2_control" />

  <xacro:timda_body_ros2_control name ="right_slider_ros2_control"  side = "right" use_fake_hardware="$(arg use_fake_hardware)"/>

  <xacro:timda_body_ros2_control name ="left_slider_ros2_control" side = "left" use_fake_hardware="$(arg use_fake_hardware)"/>

  <xacro:suction_ros2_control name = "right_suction_ros2_control" side = "r_"/>

  <xacro:suction_ros2_control name = "left_suction_ros2_control" side = "l_"/>
</robot>


